{% extends 'frontoffice/layout/app.html' %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-between ms-2 mt-3">
        <h3>List of fields</h3>
        <a href="{% url 'create_field' %}" class="btn btn-success mb-3 me-3">Create a field</a>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Fields Table</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive px-4 pt-1 pb-2">
                        <table class="table align-items-center justify-content-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ">Crop
                                        Type
                                    </th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                        Location</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                        Size
                                    </th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                        Soil
                                        Type</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-5">
                                        Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for field in fields %}
                                <tr>
                                    <td>
                                        <div class="my-auto ps-3">
                                            <h6 class="mb-0 text-sm">{{ field.crop_type }}</h6>
                                        </div>
                                    </td>
                                    <td>{{ field.location }}</td>
                                    <td>{{ field.size }}</td>
                                    <td>{{ field.soil_type }}</td>
                                    <td>
                                        <a href="/weather/?city={{ field.location }}"
                                            class="btn btn-link text-secondary mb-0">View weather</a> |
                                        
                                        <a href="{% url 'field_update' field_id=field.id %}"
                                            class="btn btn-link text-secondary mb-0">Edit</a> |
                                        <form method="post" action="{% url 'field_delete' field_id=field.id %}"
                                            style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-link text-danger mb-0"
                                                onclick="return confirm('Are you sure you want to delete this field?');">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center">No fields found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}